/* ----- LOADER ----*/
#caja_loader{
    /*Cree esta caja para centar el loader*/
    width: 100%;
    display: grid;
    place-content: center;
    padding: 15px;
}

.loader{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*border: 3px solid rgb(255, 0, 170);
    border-top-color: transparent;*/
    animation: spin 1.2s linear infinite;
}

.loader::before,
.loader::after{
    content: '';
    position: absolute;
    border-radius: inherit;
}

.loader::before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg,#f0c 0%, #80f 100%);
}

.loader::after{
    width: 85%;
    height: 85%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

 @keyframes spin{
    to{
        transform: rotate(360deg);
    }
 }

/*----------------Seccion de galeria de imagenes------------------*/
#caja_galeria{
    width: 100%;
    display: grid;
    place-content: center;

    /*justify-content: center;
    align-items: center;*/

    background-color: rgba(43, 41, 41, 0.733);
}

#seccion_imagenes{
    display: flex;
    width: 1000px;
    height: 430px;
    margin: 10px;
}

#seccion_imagenes img{
    width:0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 3s ease;
}

#seccion_imagenes img:hover{
    cursor:crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/* Estilo super botón*/
#estilo_button{
    border: 0;
    background-image: linear-gradient(150deg,#9500ff,#09f,#00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

#estilo_button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

#estilo_button:hover span{
    background: none;
}

#estilo_button:active{
    transform: scale(0.9);
}